/* General */
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#02aab0, #00cdac);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 4px 0 4px 0;
    text-align: center;
    border-top: 1px solid white;
    box-sizing: border-box;
}

/* Navigation menu */

.navigation {
    position: sticky;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    border-bottom: 1px solid white;
}

    .navigation li {
        float: left;
        font-size: 20pt;
    }

        .navigation li:last-child {
            float: right;
        }

        .navigation li a {
            display: block;
            padding: 8px;
            text-decoration: none;
            color: white;
        }

            .navigation li a:hover:not(.active) {
                background: linear-gradient(to right, #d66d75, #e29587);
            }

.active {
    background-color: sandybrown;
}

/* Index style */

header {
    background: #333;
    text-align: center;
}
header > h1 {
    color: white;
    font-size: 32pt;
    padding: 16px 0 16px 0;
}
.content {
    font-size: 16pt;
    padding: 16px;
    margin-bottom: 16px;
}

/* Random stuff style */

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background: linear-gradient(to right, #d66d75, #e29587);
    width: 200px;
    height: 200px;
    margin-top: 20px;
    line-height: 200px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    box-sizing: border-box;
}

/* Image */

.box:first-child {
        width: 480px;
        height: 480px;
        border: 2px solid white;
    }

.image-title {
    color: black;
    text-align: center;
    line-height: 48px;
    font-weight: lighter;
    font-size: larger;
}

.random-image {
    margin: auto;
    border: solid 2px black;
    background: white;
    height: 400px;
    width: 400px;
}

    .random-image img {
        height: 350px;
        padding-top: 25px;
    }

/* Video */

.box:nth-child(2) {
    width: 420px;
    height: 420px;
    border: 2px solid white;
}

.video-title {
    color: black;
    text-align: center;
    line-height: 48px;
    font-weight: lighter;
}

.random-video {
    margin: auto;
    border: solid 2px black;
    background: white;
    height: 350px;
    width: 350px;
}

    .random-video video {
        padding-top: 15px;
        outline: none;
    }

/* Audio */

.box:last-child {
    width: 380px;
    height: 170px;
    margin-bottom: 45px;
    border: 2px solid white;
}

.sound-title {
    color: black;
    text-align: center;
    line-height: 48px;
    font-weight: lighter;
    font-size: smaller;
}

.random-sound {
    margin: auto;
    border: solid 2px black;
    background: white;
    height: 100px;
    width: 350px;
}

    .random-sound audio {
        padding-bottom: 30px;
        outline: none;
    }

/* Contact form style */

.contact-form {
    position: relative;
    max-width: 800px;
    margin: 140px auto;
    padding: 40px;
    background: linear-gradient(to right, #d66d75, #e29587);
    border: 2px solid white;
    box-sizing: border-box;
}

.form-title {
    font-size: 25px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.input-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 0 10px 0;
}

.input > input {
    width: 220px;
    outline: none;
    border: 1px solid black;
    padding: 5px 0 5px 5px;
}

.inner-msg {
    display: flex;
    margin-bottom: 20px;
}

    .inner-msg > textarea {
        height: 80px;
        width: 100%;
        padding: 5px 0 5px 5px;
        outline: none;
        border: 1px solid black;
    }


.button-container {
    display: flex;
    justify-content: center;

}
.button {
    text-align: center;
    width: 150px;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    background: #333;
}

    .button:hover {
        background: linear-gradient(to right, #02aab0, #00cdac);
        color: black;
    }
